jobs:
- job: 'TestLinux'
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Python310-Linux:
        python.version: '3.10'
    maxParallel: 3
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
  - script: sudo apt-get update
    displayName: 'AptGet Update'
  - script: sudo apt-get install -y inkscape
    displayName: 'Install Inkscape'
  - script: sudo apt-get install -y pandoc
    displayName: 'Install Pandoc'
  # - script: sudo apt-get install -y texlive texlive-latex-extra texlive-xetex dvipng
  #   displayName: 'Install Latex'
  - script: sudo apt-get install -y libomp-8-dev
    displayName: 'Install omp'
  - script: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 10
          ls /usr/bin/llvm*
          export LLVM_CONFIG=/usr/bin/llvm-config-10
    displayName: 'Install llvmlite'
  - script: sudo apt-get install -y p7zip-full
    displayName: 'Install 7z, rar'
  - script: sudo apt-get install -y graphviz
    displayName: 'Install Graphviz'
  - script: pip install --upgrade pip setuptools wheel
    displayName: 'Install tools'
  - script: pip install numpy
    displayName: 'Install numpy'
  - script: |
          export LLVM_CONFIG=/usr/bin/llvm-config-10
          pip install -r requirements.txt
    displayName: 'Install Requirements'
  - script: python -u setup.py build_ext --inplace
    displayName: 'Build package inplace'
  - script: python -u setup.py unittests -g ".*((LONG)|(SKIP)|(notebooks)).*"
    displayName: 'Runs Unit Tests'
  - script: python -u setup.py bdist_wheel
    displayName: 'Build wheel'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'wheel-linux-$(python.version)'
      targetPath: 'dist'

- job: 'TestManyLinux'
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Python310-Linux:
        python.version: '3.10'
    maxParallel: 3
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
  - script: sudo apt-get update
    displayName: 'AptGet Update'
  - script: sudo apt-get install -y inkscape
    displayName: 'Install Inkscape'
  - script: sudo apt-get install -y pandoc
    displayName: 'Install Pandoc'
  # - script: sudo apt-get install -y texlive texlive-latex-extra texlive-xetex dvipng
  #   displayName: 'Install Latex'
  - script: sudo apt-get install -y libomp-8-dev
    displayName: 'Install omp'
  - script: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 10
          ls /usr/bin/llvm*
          export LLVM_CONFIG=/usr/bin/llvm-config-10
    displayName: 'Install llvmlite'
  - script: sudo apt-get install -y p7zip-full
    displayName: 'Install 7z, rar'
  - script: sudo apt-get install -y graphviz
    displayName: 'Install Graphviz'
  - script: pip install --upgrade pip setuptools wheel
    displayName: 'Install tools'
  - script: pip install numpy
    displayName: 'Install numpy'
  - script: |
          export LLVM_CONFIG=/usr/bin/llvm-config-10
          pip install -r requirements.txt
    displayName: 'Install Requirements'
  - script: |
      python -m pip install cibuildwheel
      export CIBW_MANYLINUX_X86_64_IMAGE="manylinux_2_24"
      export CIBW_BEFORE_BUILD="pip install pybind11 cython numpy scipy pyquickhelper scikit-learn pandas pandas_streaming onnx pyquicksetup"
      export CIBW_BUILD="cp310-manylinux_x86_64"
      python -m cibuildwheel --output-dir dist/wheelhouse310 --platform linux
    displayName: 'Build Package manylinux_x_y 310'
  - script: |
      python -m pip install cibuildwheel
      export CIBW_BEFORE_BUILD="pip install pybind11 cython numpy scipy pyquickhelper scikit-learn pandas pandas_streaming onnx pyquicksetup"
      export CIBW_MANYLINUX_X86_64_IMAGE=quay.io/pypa/manylinux2014_x86_64:latest
      export CIBW_BUILD="cp36-manylinux_x86_64 cp37-manylinux_x86_64 cp38-manylinux_x86_64 cp39-manylinux_x86_64"
      python -m cibuildwheel --output-dir dist/wheelhouse --platform linux
    displayName: 'Build Package many'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'wheel-manylinux'
      targetPath: 'dist'

- job: 'TestMac'
  pool:
    vmImage: 'macOS-latest'
  strategy:
    matrix:
      Python310-MacOs:
        python.version: '3.10'
    maxParallel: 3
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
  - script: gcc --version
    displayName: 'gcc version'
  - script: brew update
    displayName: 'brew update'
  - script: export
    displayName: 'export'
  - script: gcc --version
    displayName: 'gcc version'
  - script: brew install libomp
    displayName: 'Install omp'
  - script: brew upgrade p7zip
    continueOnError: true
    displayName: 'Install p7zip'
  - script: brew install pandoc
    displayName: 'Install Pandoc'
  - script: brew install graphviz
    continueOnError: true
    displayName: 'Install Graphviz'
  - script: brew install cairo pango gdk-pixbuf libffi
    displayName: 'Install cairo pango gdk-pixbuf libffi'
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH.
  - bash: sudo chown -R $USER $CONDA
    displayName: Take ownership of conda installation
  #- script: brew install --cask mactex
  #  continueOnError: true
  #  displayName: 'Install latex'
  - bash: conda install -y -c conda-forge numpy scipy
    displayName: Install numpy scipy
  - bash: conda install -y -c conda-forge llvmlite numba pybind11
    displayName: Install llvmlite numba pybind11
  - script: pip install -r requirements-osx.txt
    displayName: 'Install Requirements'
  #- script: pip install -i https://test.pypi.org/simple/ ort-nightly
  #  displayName: 'Install ort-nightly'
  - script: |
         # export MACOSX_DEPLOYMENT_TARGET=10.13
         python setup.py build_ext --inplace
    displayName: 'Build package inplace'
  - script: python -u setup.py unittests -g ".*((LONG)|(SKIP)|(notebooks)|(asv_benchmark)|(test_onnx_helper)|(test_onnx_inference)|(test_onnxrt_python_runtime_ml)|(test_custom_embedded_any_models)|(test_custom_)|(test_onnx_pipeline)|(test_onnx_speedup_cluster)).*" -d 7
    displayName: 'Runs Unit Tests'
  - script: |
      python -m pip install cibuildwheel
      export CIBW_BEFORE_BUILD="pip install pybind11 cython numpy scipy pyquickhelper scikit-learn pandas pandas_streaming onnx pyquicksetup"
      export CIBW_BUILD="cp38-macosx_x86_64"
      export CIBW_ENVIRONMENT="MACOSX_DEPLOYMENT_TARGET=10.13"
      python -m cibuildwheel --output-dir dist/wheelhouse
    displayName: 'Build Package many'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'wheel-mac'
      targetPath: 'dist'

- job: 'TestWindows'
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:
      Python310-Windows:
        python.version: '3.10'
    maxParallel: 3
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
  - script: python -m pip install --upgrade pip setuptools wheel
    displayName: 'Install tools'
  - script: pip install -r requirements.txt
    displayName: 'Install Requirements'
  - script: python -c "import platform;print(platform.version())"
    displayName: 'Platform'
  - script: python -u setup.py build_ext --inplace
    displayName: 'Build inplace'
  - script: python -u setup.py unittests -d 2
    displayName: 'Runs Unit Tests'
  - script: |
      python -m pip install cibuildwheel
      set CIBW_BEFORE_BUILD=pip install pybind11 cython numpy scipy pyquickhelper scikit-learn pandas pandas_streaming onnx pyquicksetup
      set CIBW_BUILD=cp36-win_amd64 cp37-win_amd64 cp38-win_amd64 cp39-win_amd64 cp310-win_amd64
      python -m cibuildwheel --output-dir dist/wheelhouse
    displayName: 'Build Package python 3.6, 3.7, 3.8, 3.9, 310'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'wheel-windows'
      targetPath: 'dist'
