# conda
cffi
Cython
datashape
jinja2
joblib>=0.12
jupyter
matplotlib
notebook>=5.0.0
numba
numpy>=1.19.0
pandas
pillow
scikit-learn>=1.0
scipy>=1.7.0
Sphinx
wheel

# pip
autopep8
asv
chardet
coverage>=5.0
cpyquickhelper>=0.3.398
flatbuffers
jyquickhelper
lightgbm
memory_profiler
mlinsights>=0.3
mlstatpy>=0.3.593
nbconvert>=6.0.2
openpyxl
opt-einsum
pybind11
pydata-sphinx-theme
pydot
pyensae
py-cpuinfo
pyinstrument
pylint>=2.6.0
pyquickhelper>=1.10.3626
pyquicksetup
sphinx
sphinxcontrib.blockdiag
sphinx_gallery
tqdm
wheel
xgboost

# onnx
onnx>=1.10.1
onnxruntime>=1.10.0
skl2onnx>=1.10.2
