autopep8
git+https://github.com/sdpython/asv.git@jenkins
chardet
coverage>=5.0
cpyquickhelper
jyquickhelper
lightgbm
memory_profiler
mlinsights>=0.2.491
onnx>=1.7.0
git+https://github.com/xadupre/onnxconverter-common.git@jenkins
openpyxl
pybind11
pyensae
py-cpuinfo
pyinstrument
pylint>=2.6.0
pyquickhelper>=1.9.3396
git+https://github.com/xadupre/sklearn-onnx.git@jenkins
sphinx
sphinxcontrib.blockdiag
sphinx_gallery
tqdm
wheel
xgboost
