autopep8
asv
cffi
chardet
Cython
coverage
cpyquickhelper
datashape
flatbuffers
jinja2==3.0.3
joblib>=0.12
jupyter
jyquickhelper
lightgbm
llvmlite
matplotlib
mlinsights>=0.3.631
mlstatpy
nbconvert
notebook
numba
numpy
onnx>=1.12.0
onnxruntime>=1.11.0
onnxruntime-extensions>=0.4.2
openpyxl
opt-einsum
pandas
pandas_streaming
pillow
protobuf<4
pybind11
pydata-sphinx-theme
pydot
py-cpuinfo
pyinstrument
pylint>=2.14.0
pyquickhelper
pyquicksetup
scikit-learn
scipy
skl2onnx>=1.11.1
Sphinx
sphinxcontrib.blockdiag
sphinx-gallery
tqdm
wheel
xgboost
